# install python packages that are relevant to build all handbook examples
datalad-container
pytest
seaborn
pandas
scikit-learn
scikit-image
# https://github.com/mwaskom/seaborn/issues/3192
numpy < 1.24
dvc
datalad-catalog
