alabaster >= 0.7.11
Babel
certifi
chardet
docutils
idna
imagesize
Jinja2
MarkupSafe
packaging
Pygments
pyparsing
pytz
requests
six
snowballstemmer
Sphinx==2.1.2
sphinx-sitemap
sphinxcontrib-websupport
sphinx-notfound-page
urllib3
sphinxcontrib-svg2pdfconverter
sphinxcontrib-plantuml
-e git://github.com/mih/autorunrecord.git@master#egg=autorunrecord
# install our own directives
-e .
