alabaster
Babel
certifi
chardet
docutils
idna
imagesize
Jinja2
MarkupSafe
packaging
Pygments
pyparsing
pytz
requests
six
snowballstemmer
Sphinx
sphinx-sitemap
sphinxcontrib-websupport
urllib3
sphinxcontrib-svg2pdfconverter
sphinxcontrib-plantuml
-e git://github.com/mih/autorunrecord.git@cf6a545152f49f0f9e59d3d66d8ffe1bdb46c823#egg=autorunrecord